.container {
  width:1240 px ;
  margin:0px auto;
}
.clear {
  clear:both;
}
body {
  margin:0;
  background-color: rgb(180, 180, 180);
}
#header{
  
  margin: 0px;
  background-color: rgb(255, 255, 255);
}
#footer {
  font-size: 40px;
  height: 370px;
  width: 100%;
  background-color:  rgb(255, 255, 255);
  
  text-align: center;
  bottom: 0;
   }
.headerh1{
  padding:40px 20px;
  margin:0px;
  
}
#content{
  width:1200px;
  height:1300px;
  background-color:rgb(255, 255, 255);
  margin:0px;
  padding:20px 20px 20px 20px;
}
#leftcol{
  width: 25%;
  float:left;
  margin-right: 30px;
}
#midcol{
  margin: 0px auto;
  width: 45%;
  float: left;
}

#rightcol{
  width: 25%;
  float:left;
  margin-left:30px;
}


.line{
  width:99%;
  border-bottom: 1px solid rgb(0, 0, 0);
}
#news_box{
  color: rgb(255, 255, 255);
  background-color: #666666;
  border:3px solid #666666;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}
#news_box1{
  color: rgb(255, 255, 255);
  background-color: #666666;
  border:3px solid #666666;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}
#news_box2{
  color: rgb(255, 255, 255);
  background-color: #666666;
  border:3px solid #666666;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}
#news_box3{
  color: rgb(255, 255, 255);
  background-color: #666666;
  border:3px solid #666666;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}
#news_box4{
  color: rgb(255, 255, 255);
  background-color: #666666;
  border:3px solid #666666;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}
#news_box5{
  color: rgb(255, 255, 255);
  background-color: #666666;
  border:3px solid #666666;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}
#news_box6{
  color: rgb(255, 255, 255);
  background-color: #666666;
  border:3px solid #666666;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}
#news_box7{
  color: rgb(255, 255, 255);
  background-color: #666666;
  border:3px solid #666666;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}
#news_box8{
  color: rgb(255, 255, 255);
  background-color: #666666;
  border:3px solid #666666;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}
#news_box9{
  color: rgb(255, 255, 255);
  background-color: #666666;
  border:3px solid #666666;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}
#news_box10{
  color: rgb(255, 255, 255);
  background-color: #666666;
  border:3px solid #666666;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}
#news_box11{
  color: rgb(255, 255, 255);
  background-color: #666666;
  border:3px solid #666666;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}





